<?xml version="1.0"?>
<robot name="robo" xmlns:xacro="http://www.ros.org/wiki/xacro">
    
    <xacro:include filename="robot_base.xacro"/>
    <!-- <xacro:include filename="camera.xacro"/> -->
    <xacro:include filename="lidar.xacro"/>
    <!-- <xacro:include filename="kinetic.xacro"/> -->

</robot>